body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #141011;
}

h1 {
    text-transform: uppercase;
    font-size: 25px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #141011;
}

#wrapper {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
}

#content {
    display: table-cell;
    vertical-align: middle;
}

.error-page {
    width: 500px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 50px 30px;
    z-index: 9999999;
    text-align: center;
    background-color: rgb(245, 245, 245);
}

.error-page__text {
    padding-bottom: 10px;
}

.error-page_back_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    background-color: #ff6c34;
    margin: 0 auto;
    border-radius: 25px;
    text-transform: uppercase;
    transition: .5s ease;
    cursor: pointer;
}

.error-page_back_button:hover {
    background-color: #fab296;
}

.error-page_back_button a {
    color: #fff;
    font-weight: 300;
}

@media (max-width:490px) {
    .error-page {
        width: 95%;
        padding: 20px 5px
    }
}